/* * {
	width: 0px;
	height: 0px;
	
} */


.top-bar {
	padding: 10px;
	font-family: Palatino monospace;
	font-size: 30px;
	text-align: right;
}

.fill {
     width: 50%;
}


.imagesrc { 

	padding: 30px;
	text-align: center;
}

.para {
	text-align: left;
	padding: 10px;
	margin: 10px;
	
}
