


.top-bar {
	padding: 10px;
	font-family: Palatino monospace;
	font-size: 30px;
	text-align: center

	
}

.fill {
     width: 50%;
}

.para {
	text-align: left;
	padding: 10px;
	margin: 10px;
	
}

.imagesrc { 

	
 
}